body {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  min-height: 50rem;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(51, 166, 244);
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10; /* Stay at the top */
  left: 0;
  background-color: rgb(101, 188, 247); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.user-icon {
  height: 30px;
}

.add-btn {
  background: transparent;
  border: transparent;
  cursor: pointer;
}

.user-name {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

input {
  font-size: inherit;
  font-family: inherit;
  padding: 4px 8px;
}

.line {
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
}

.delete-btn {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.line:hover .delete-btn {
  display: inline-block;
}

.crossmark {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXgtaWNvbiBsdWNpZGUteCI+PHBhdGggZD0iTTE4IDYgNiAxOCIvPjxwYXRoIGQ9Im02IDYgMTIgMTIiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.search-bar {
  cursor: pointer;
}

.page {
  cursor: pointer;
}

.home {
  cursor: pointer;
}

#main-content {
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  font-family: 'Noto+Sans', sans-serif;
  font-size: 100px;
}

.settings {
  cursor: pointer;
}

.selectdiv {
  position: relative;
  
  float: left;
  min-width: 200px;
  margin: 50px 33%;
}

select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}